.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item{
  border: 1px solid black;
  width: 200px;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.orange{
  background: orange;
}
.green{
  background: rgb(8, 103, 5);
}